<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.com.taishinbank.ewallet">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>


    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 為了大頭照 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 為了畫吉祥話 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 顯示付款 QRCode頁亮量調整用-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="tw.com.taishinbank.ewallet.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="tw.com.taishinbank.ewallet.permission.C2D_MESSAGE" />


    <!-- [END gcm_permission] -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:name=".controller.WalletApplication">
        <activity
            android:name=".controller.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".controller.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".controller.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".controller.ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".controller.SplashActivity"
            android:theme="@style/SplashActivityTheme"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent" >
        </activity>
        <activity
            android:name=".controller.ContactListActivity"
            android:label="@string/title_activity_contact_list"
            android:parentActivityName=".controller.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.LargeMenu">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tw.com.taishinbank.ewallet.controller.MainActivity" />
        </activity>
        <activity
            android:name=".controller.red.BlessingInputActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tw.com.taishinbank.ewallet.controller.ContactListActivity" />
        </activity>
        <activity
            android:name=".controller.red.AmountInputActivity"
            android:parentActivityName=".controller.red.BlessingInputActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.red.BlessingInputActivity" />
        </activity>
        <activity
            android:name=".controller.red.RedEnvelopeDetailConfirmActivity"
            android:parentActivityName=".controller.red.AmountInputActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.red.AmountInputActivity" />
        </activity>
        <activity
            android:name=".controller.red.PasswordInputActivity"
            android:parentActivityName=".controller.red.RedEnvelopeDetailConfirmActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.red.RedEnvelopeDetailConfirmActivity" />
        </activity>

        <activity
            android:name=".controller.SVLoginActivity"
            android:parentActivityName=".controller.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tw.com.taishinbank.ewallet.controller.MainActivity" />
        </activity>

        <activity
            android:name=".controller.red.SendingResultActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent" >
        </activity>
        <activity
            android:name=".controller.AddingContactActivity"
            android:parentActivityName=".controller.ContactListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tw.com.taishinbank.ewallet.controller.ContactListActivity" />
        </activity>
        <activity
            android:name=".controller.ContactDetailActivity"
            android:parentActivityName=".controller.ContactListActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tw.com.taishinbank.ewallet.controller.ContactListActivity" />
        </activity>
        <activity
            android:name=".controller.red.BlessingReplyActivity"
            android:parentActivityName=".controller.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tw.com.taishinbank.ewallet.controller.MainActivity" />
        </activity>

        <activity
            android:name=".controller.red.ReceiveRedEnvelopeActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
        </activity>

        <activity
            android:name=".controller.CropImageActivity"
            android:parentActivityName=".controller.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.RegisterActivity" />
        </activity>
        <activity
            android:name=".controller.creditcard.CreditCardCreateActivity"
            android:parentActivityName=".controller.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainActivity" />
        </activity>

        <activity
            android:name=".controller.creditcard.CreditCardPaymentLoginActivity"
            android:parentActivityName=".controller.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainActivity" />
        </activity>
        <activity
            android:name=".controller.creditcard.CreditCardPaymentBarcodeActivity"
            android:parentActivityName=".controller.creditcard.CreditCardPaymentLoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.creditcard.CreditCardPaymentLoginActivity" />
        </activity>
        <activity
            android:name=".controller.creditcard.QRCodeScannerActivity"
            android:parentActivityName=".controller.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainActivity" />
        </activity>
        <activity
            android:name=".controller.creditcard.CreditPaymentConfirmActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        CreditPaymentConfirmActivity
        <activity
            android:name=".controller.sv.test.TryDesignateAccountActivity"
            android:theme="@style/AppTheme.NoActionBar.SV" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".controller.sv.DesignateAccountActivity"
            android:theme="@style/AppTheme.NoActionBar.SV" >
        </activity>

        <activity
            android:name=".controller.sv.NewDesignateAccountActivity"
            android:theme="@style/AppTheme.NoActionBar.SV">
        </activity>

        <activity android:name=".controller.sv.ReceiveRequestActivity"
            android:theme="@style/AppTheme.NoActionBar.SV"/>

        <activity android:name=".controller.sv.ReceivePaymentActivity"
            android:theme="@style/AppTheme.NoActionBar.SV"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".controller.sv.DepositWithdrawActivity"
            android:theme="@style/AppTheme.NoActionBar.SV" >
        </activity>

        <activity
            android:name=".controller.sv.SVAccountDetailActivity"
            android:theme="@style/AppTheme.NoActionBar.SV" >
        </activity>

        <activity
            android:name=".controller.sv.DepositActivity"
            android:theme="@style/AppTheme.NoActionBar.SV"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".controller.sv.WithdrawActivity"
            android:theme="@style/AppTheme.NoActionBar.SV"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".controller.sv.PaymentActivity"
            android:theme="@style/AppTheme.NoActionBar.SV"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".controller.sv.ReceiptActivity"
            android:theme="@style/AppTheme.NoActionBar.SV"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".controller.sv.SharedReceiptActivity"
            android:theme="@style/AppTheme.NoActionBar.SV"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".controller.sv.QRCodeGeneratorActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".controller.sv.QRCodeScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".controller.sv.TransactionLogActivity"
            android:theme="@style/AppTheme.NoActionBar.SV">
        </activity>

        <!-- Extra Begin -->
        <activity
            android:name=".controller.extra.EarnActivity"
            android:theme="@style/AppTheme.NoActionBar.SV">
        </activity>
        <activity
            android:name=".controller.extra.MyCouponActivity"
            android:theme="@style/AppTheme.NoActionBar.SV"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".controller.extra.ReceiveCouponActivity"
            android:theme="@style/AppTheme.NoActionBar.SV"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".controller.extra.MyTicketActivity"
            android:theme="@style/AppTheme.NoActionBar.SV">
        </activity>
        <!-- Extra End -->


        <activity
            android:name=".controller.creditcard.CreditCardManageActivity"
            android:parentActivityName=".controller.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainActivity" />
        </activity>
        <activity
            android:name=".controller.creditcard.CreditCardResultPageActivity"
            android:parentActivityName=".controller.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".controller.setting.EditPersonalInfoActivity"
            android:parentActivityName=".controller.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainActivity" />
        </activity>

        <activity
            android:name=".controller.setting.UserInfoChangeCertificationActivity"
            android:parentActivityName=".controller.setting.EditPersonalInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.setting.EditPersonalInfoActivity" />
        </activity>

        <activity
            android:name=".controller.setting.UserInfoModifyActivity"
            android:parentActivityName=".controller.setting.EditPersonalInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.setting.EditPersonalInfoActivity" />
        </activity>

        <activity
            android:name=".controller.creditcard.CreditCardAuthWebActivity"
            android:parentActivityName=".controller.creditcard.CreditCardCreateActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.creditcard.CreditCardCreateActivity" />
        </activity>

        <activity
            android:name=".controller.setting.ApplicationSettedActivity"
            android:parentActivityName=".controller.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".controller.setting.ApplicationSettedSubActivity"
            android:parentActivityName=".controller.setting.ApplicationSettedActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".controller.FriendHistoryActivity"
            android:parentActivityName=".controller.ContactDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity android:name="io.card.payment.CardIOActivity" android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"/>
        <activity android:name="io.card.payment.DataEntryActivity" android:screenOrientation="portrait"/>


        <activity android:name=".controller.wallethome.WebViewActivity"></activity>
        <activity android:name=".controller.creditcard.MallWebViewActivity"></activity>

        <!-- GCM 相關 非必要勿動-->
        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <!-- If you want to support pre-4.4 KitKat devices, add the following action to the intent filter declaration for the receiver -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="tw.com.taishinbank.ewallet" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name=".gcm.WalletGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false"/>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
